<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.istrides.ranjeetfeedback">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher_logo"
		android:fullBackupContent="false"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_logo"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="LockedOrientationActivity">

		<activity
			android:name=".SplashScreenActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateAlwaysHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ThankYouActivity"
			android:windowSoftInputMode="stateAlwaysHidden" />

		<activity
			android:name=".ServiceRatingActivity"
			android:exported="true"
			android:label="Give Your Feedback" />

		<activity
			android:name=".BaseActivity"
			android:windowSoftInputMode="adjustResize" />

		<activity
			android:name=".FloorSelectionActivity"
			android:launchMode="singleTask"
			android:windowSoftInputMode="stateAlwaysHidden" />

		<activity
			android:name=".EmployeeSelectionActivity"
			android:label="Employee Selection"
			android:launchMode="singleTask"
			android:windowSoftInputMode="stateAlwaysHidden" />

	</application>

</manifest>